[submodule "lib/forge-std"]
	path = lib/forge-std
	url = git@github.com:foundry-rs/forge-std
[submodule "lib/solmate"]
	path = lib/solmate
	url = git@github.com:transmissions11/solmate
[submodule "lib/openzeppelin"]
	path = lib/openzeppelin
	url = git@github.com:Openzeppelin/openzeppelin-contracts
